/*
=============
Footer Styles
=============
*/


#footer {
    background: 
        linear-gradient(
            240deg,
            rgba(81, 178, 237, 1) 10%,
            rgba(21,  71,  96, 1)
        ); 
    padding: 1rem 0 0 0;
}

#footer p {
    color:      #ffffff;
    text-align: center;
}

/*
===================
Henry Footer Styles
===================
*/

#henry-footer {
    position:         fixed;
    bottom:           0;
    left:             0;
    width:            100%;
    height:           auto;
    background-color: #ffffff;
    opacity:          0;
    padding:          .5rem;
}

@keyframes add-schein {
    from { opacity: 0 }
    to   { opacity: 1 }
}

@keyframes remove-schein {
    from { opacity: 1 }
    to   { opacity: 0 }
}

#henry-schein-logo {
    max-width: 100%;
}

.social-icon {
    max-width: 7.5%;
    margin:    0 .25rem;
}

/*
=============
Media Queries
=============
*/

@media (max-width: 992px) {
    
    .social-icon {
        max-width: 12%;
    }
    
}

@media (max-width: 767px) {
    
    .social-icon {
        max-width: 25%;
    }
    
}