/*
===============
Services Styles
===============
*/

#services {
    margin:  5rem 0;
}

#services img {
    text-align: center;
    margin:     0 auto 2.5rem auto;
    display:    block;
    width:      40%;
    cursor:     pointer;
    transition: .3s;
}

#services img:hover {
    opacity: .3;
    transition: .3s;
}

.services-out {
    opacity:    0;
    transition: .3s;
}
    
.services-in { 
    opacity: 1; 
}

#services h2 {
    text-align:  center;
    margin:      0 0 4rem 0;
}

#services h4 {
    text-align: center;
}

/*
=============
Media Queries
=============
*/

@media (max-width: 992px) {
    
    #services {
        margin: 4rem 0;
    }
    
    #services img {
        display: inline-block;
        width:   80%;
    }
    
    #services h4 {
        text-align: left;
    }
    
}

@media (max-width: 768px) {
    
    #services img {
        margin: 2rem 0;
        width:  100%;
    }
    
    .service {
        margin: 1rem 0;
    }
    
}