/* 
==============
Dashboard SCSS
==============
*/


#dashboard {
	background: url("../img/background/parchment.jpg");

    #dashboard__content {
    	height:     70vh !important;
    	max-height: 70%  !important;

    	@media (max-width: $MD) {
    		padding:    3rem 0;
    		height:     auto !important;
    		max-height: auto !important;
		}
    }
}