/* 
==============
Dashboard SCSS
==============
*/


#dashboard {
	background: url("../img/background/parchment.jpg");

    #dashboard__content {
    	height:     70vh !important;
    	max-height: 70%  !important;
    }
}


/*
=======================
Dashboard Media Queries
=======================
*/