/* 
==============
Jumbotron SCSS
==============
*/


#jumbotron {
    background: 
        linear-gradient(
            240deg,
            rgba(81, 178, 237, 1) 10%,
            rgba(21,  71,  96, 1)
        );
    height:     30vh !important;
    max-height: 30%  !important;
}


/* 
=======================
Jumbotron Media Queries
=======================
*/