/* 
==============
Jumbotron SCSS
==============
*/


#jumbotron {
    background: url('../img/jumbotron/jumbotron.jpg');
    background-position: top center;
    background-size: cover;
    height:     30vh !important;
    max-height: 30%  !important;
}


/* 
=======================
Jumbotron Media Queries
=======================
*/