/* 
===========
Player SCSS
===========
*/


.player_name {
	text-align: center;
}

.change_player_name {
	@include          border-radius(.5rem);
	width:            100%;
	text-align:       center;
	border:           none;
	visibility:       hidden;
	height:           0;
	background-color: transparent;
}

.counter {
	@include   border-radius(.5rem); 
	color:     $WHITE;
	font-size: 1.5rem;
	padding:   .25rem 1rem;
	cursor:    pointer;
}

.plus_counter {
	@include base-button($GREEN, $LGREEN);
	margin:  0 auto;
}

.minus_counter {
	@include base-button($RED, $LRED);
	margin:  0 auto;
}

.counter_label {
	text-align: left;
}

.counter_count {
	text-align: right;
}


/*
====================
Player Media Queries
====================
*/