/*
=============
Global Styles
=============
*/


/*  Media Query Breakpoints
    Extra Small:  400px
    Small:        576px
    Medium:       768px
    Large:        992px
    Extra Large: 1200px
*/

html {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
    font-family: 'Lato', sans-serif;
    color:       #5e5e5e;
}

h1 {
    font-size:   3rem;
    line-height: 3.5rem;
    font-weight: 900;
}

h2 {
    font-size:   2.5rem; 
    line-height: 3rem;
    font-weight: 700;
}

h3 {
    font-size:   2rem;
    line-height: 2.5rem;
    font-weight: 700;
}

h4 {
    font-size:   1.25rem;
    line-height: 1.75rem;
    font-weight: 900;
    margin:      2rem 0 3rem 0;
}

p {
    font-size:   1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.tab_content {
    position: relative;
}

.align-bottom {
    position: absolute;
    bottom:   -3rem;
    left:     0;
    width:    100%;
}

/*
=============
Media Queries
=============
*/

@media screen and (max-width: 992px) {
    
    h1 {
        font-size:   2rem;
        line-height: 2.5rem;
    }

    h2 {
        font-size:   2rem; 
        line-height: 2.5rem;
    }

    h3 {
        font-size:   1.5rem;
        line-height: 2rem;
    }

    h4 {
        font-size:   1.5rem;
        line-height: 2rem;
    }

    p {
        font-size:   1rem;
        line-height: 1.5rem;
    }
    
}