// Fonts 
$FONT: 'Cormorant', serif;


// Colors
$BLACK:     #2d2d2d;
$GREY:      #5e5e5e;
$WHITE:     #ffffff;
$ORANGE:    #eb8640;
$LORANGE:   #fcb32b;
$RED:       #a81a1a;
$LRED:      #e02727;
$GREEN:     #549930;
$LGREEN:    #67ce38;


// Screen Widths
$XS:  400px;
$SM:  576px;
$MD:  767px;
$LG:  992px;
$XL: 1200px;